@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--fg-ligth: #9c6644;
--bg-light : #e6ccb2;
--primary:#b08968;
--secondary: #582f0e;
--warning : #f77f00;

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--fg-ligth);
    color: var(--bg-light);
  }
}

body {
  background-color: var(--bg-ligth);
  color: var(--fg-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
